fastapi
uvicorn
streamlit
pandas
openpyxl
geopy
ortools
folium
scikit-learn
sqlalchemy
python-multipart
requests
pydantic
python-dotenv
streamlit-folium
streamlit-option-menu
streamlit-aggrid
streamlit-lottie
plotly
numpy
matplotlib
seaborn