streamlit
pandas
numpy
scikit-learn
folium
openpyxl
fuzzywuzzy
python-Levenshtein
geopy
ortools
requests
matplotlib
seaborn
streamlit-folium
streamlit-plotly-events
streamlit-ace
streamlit-option-menu
streamlit-extras
streamlit-lottie
streamlit-analytics
streamlit-plotly-events
transformers
fuzzywuzzy
pipeline